 <table>
  <theader>
    <tr>
    <%= for column <- columns do %>
      <td><%= column %></td>
    <% end %>
    </tr>
  </theader>
  <tbody>
    <%= for row <- rows do %>
    <tr>
    <%= for data <- row do %>
      <td><%= data %></td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
